h1 {color: blue; font-family: 'Times New Roman', Times, serif; text-align: center; background-color: yellow;


}

p {text-align: center; color: yellow;  }
body { background-color: green; 

}
img { width: 30vw; height: auto; display: block; margin: auto;


}

.nav {
     list-style: none; 
    border-style: solid; color: yellow;
    margin: auto;
    width: 50vw;
    padding-left: 0;
    text-align: center;
}

.nav>li { 
    border: outset;
    display: inline-block;
}